/* CSS theme/plugins  for this project are inspired by https://blackrockdigital.github.io/startbootstrap-creative/ */


html,
body {
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-family:"lato", Helvetica, Arial, sans-serif;
}
.navBar {
    font-size: large;
}

#logo{
    margin-left: 15px;
}

ul li a{
    text-decoration: none;
}

h2, h3{
    text-transform:uppercase;
    font-weight: bold;
}

#menu ul li a{
    text-transform:uppercase;
    font-weight: bold;
    color: rgba(255,255,255,1);
}


    /***************HEADER SECTION**********************/

#menu{
    background-color:rgba(25, 181, 254, .7);
    padding: 0 15px;
    height:50px;
}

.container{
    width:100%;

}

header{
    background: url("../resources/images/market.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 20px 0;


    
}

#home{
    height:780px;
}


.navbar-collapse{
    justify-content: center;
    text-transform: capitalize;
}

.navbar-right{
    margin-right: 0;
}
/*
@media screen  and (max-width:860px){
    #menu div nav div ul{
        display: none;
}
   !* #menu .container-fluid .navbar-header  button {
        display:block;
    }*!
}*/

.header-content{
    position:relative;
}

.header-content-inner{
    margin-top: 140px;
    padding: 20px;
}



#innerHeader{
    color:rgba(255,255,255,1);
    background-color: rgba(255,255,255,.5);
    height:70px;
}

.quoteMarks {
    line-height: .8;
    font-size: 66px;
    font-family: "Courier New";
   /* color: #045F8C;*/
}

#bannerBlockQuote{
    max-width: 400px;
    font-size: 1.2em;
    color:rgba(34, 34, 34, 1);
    border-left: 4px solid rgba(25, 181, 254, .9);
    background-color: rgba(255,255,255,.5);
}

#bannerBlockQuote footer{
    color:rgba(34, 34, 34, .6);
}

#findOutMore{
   /* position:inherit;*/
    margin:auto;
    text-align: center;
}

#findOutMore a{
    padding:20px;
    border-radius: 10px;
    text-transform:uppercase;
    font-weight: bold;
    font-size: 1.3em;
    color:white;

}

#findOutMore .btn{
    background-color:rgba(25, 181, 254, .9);

}
#findOutMore .btn:hover{
    background-color: rgba(255,255,255,1);;
    color: rgba(25, 181, 254, 1);
}

.scrollToTop{
    width:70px;
    height:110px;
    padding:10px;
    text-align:center;
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    bottom:75px;
    right:20px;
    display:none;
    background: url('../resources/images/chevron-arrow-up -64.png') no-repeat 0 20px;
    z-index:30;
}
.scrollToTop:hover{
    text-decoration:none;
}
/*********************MAIN SECTION********************/
main .more{
    outline:hidden;
}

main .row{
    color:rgba(255,255,255,1);
}


main hr{
    width: 200px;
}
#aboutSec, #servicesSec, #blogSec, #contactSec, #portSec, #skillsSec{
    background: rgba(255,255,255,1);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}


#innerHeader{
    background-color: transparent;
}

.header-content-inner{
    margin-top: 250px;
}
#moreAbout, #moreServices, #moreSkills, #moreBlog, #morePort, #moreContact{
    color: rgba(51, 51, 51, .8);
}
/*************************ABOUT ME*******************/
#aboutSec{
    /*background-color: #6C7A89;*/
    background-color: rgba(25, 181, 254, 1);
}


#aboutSec hr{
    border: 1px solid rgba(255,255,255,1);
}

#aboutSec h2, .more{
    color:rgba(255,255,255,1);
}

#aboutPic{
    margin-top:50px;
}

 #aboutBtn{
    text-decoration: none;
    font-family: inherit;
    font-size: 2em;
    border: none;
    background-color: transparent;
    color: rgba(255,255,255,1);
}


#aboutSec .post .more{
    font-size: 1.3em;
    text-align: justify;
    padding-top: 10px;
    border: transparent;
    background-color:#ECF0F1;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: hidden;
}



/**************************SERVICES*********************/

#servicesSec h2{
    color:rgba(34, 34, 34, .6);
}


#servicesSec hr{
    border: 1px solid rgba(34, 34, 34, .6);
}



#moreServices{
    color: rgba(51, 51, 51, 1);
}

#servicesSec .container .post .p {
    font-size:large;
    position: absolute;
    bottom: 0;
}

#servicesBtn{
    text-decoration: none;
    font-family: inherit;
    font-size: 2em;
    border: none;
    background-color: transparent;
    color:rgba(34, 34, 34, .6);
}

#servicesSec .post .more{
    font-size: 1.3em;
    text-align: justify;
    padding-top: 10px;
    border: transparent;
    background-color:#ECF0F1;
    border-radius: 2px;
    margin-bottom: 20px;
}



/*****************************SKILLS*********************/
#skillsSec{
    background-color:#ECF0F1;
}

#skillsSec h2{
    color:#8b9dc3;
}


#skillsSec hr{
    border: 1px solid #8b9dc3;
}


#skillsSec .container .post .p {
    background-color:#ECF0F1;
    position: absolute;
    bottom: 0;
}

#skillsBtn{
    text-decoration: none;
    font-family: inherit;
    font-size: 2em;
    border: none;
    background-color: transparent;
    color:#8b9dc3;
}


#skillsSec .post .more{
    color: #8b9dc3;
    font-size: 1.3em;
    text-align: justify;
    padding-top: 10px;
    border: transparent;
    background-color:rgba(255,255,255,1);
    border-radius: 5px;
    margin-bottom: 20px;
}


/********************************BLOG********************/

#blogSec h2{
    color:rgba(25, 181, 254, 1);
}


#blogSec hr{
    border: 1px solid rgba(25, 181, 254, 1);
}


#blogSec{
    background-color:rgba(255,255,255,1);
}

#blogSec .post h2{
    text-align: center;
}



#blogBtn{
    text-decoration: none;
    font-family: inherit;
    font-size: 2em;
    border: none;
    background-color: transparent;
    color:rgba(25, 181, 254, 1);
}



#blogSec .container .post .p {
    color:rgba(25, 181, 254, 1);
    position: absolute;
    bottom: 0;

}


#blogSec .post:hover{
    background-color:rgba(34, 34, 34, .1);
    border-radius: 5px;
    margin-bottom: 20px;
}

#blogSec .post .more{
    opacity:0;
    font-size: 0;
    line-height:0;
    padding-top: 10px;
    transition: background-color ease-in-out 2s, height ease-in-out 2s, opacity ease-in-out .5s;


}

#blogSec .post .intro{
    color:rgba(25, 181, 254, 1);
}


#blogSec .post:hover .more{
    color:rgba(25, 181, 254, 1);
    opacity:1;
    font-size:inherit;
    text-align: justify;
    line-height:normal;
    padding-top: 10px;
}

#blogSec .post .intro::after{
    content: ' .... Read More...  ';
    font-weight: bold;
}

#blogSec .post:hover .intro::after{
    content: ' ';
}
#blogSec .post h3{
    color: rgba(25, 181, 254, 1);
    text-align: center;
}


 /**********************PORTFOLIO***********************/
#portSec{
    background-color: #8b9dc3;
}

#portSec h2, h3, h4{
    color:rgba(255,255,255,1);
}

#portBtn{
    text-decoration: none;
    font-family: inherit;
    font-size: 2em;
    border: none;
    background-color: transparent;
    color: white;
}

#portSec .container .post .p {
    background-color: #8b9dc3;
    position: absolute;
    top: 0;

}

#portSec .container .post:hover{
    background-color: rgba(25, 181, 254, 1);
    border-radius: 5px;
    margin-bottom: 20px;
}

#portSec .post .more {
    opacity: 0;
    font-size: 0;
    line-height: 0;
    padding-top: 10px;
    transition: background-color ease-in-out 2s, height ease-in-out 2s, opacity ease-in-out .5s;

}


#portSec .portLink{
    background-color:rgba(34, 34, 34, .2);
    border-radius: 5px;
    margin: 20px;
}

#portSec .post:hover .more{
    opacity:1;
    font-size:1.3em;
    text-align: justify;
    line-height:normal;
    padding-top: 10px;
}

#portSec .glyphicon-link{
    color: rgba(255, 255, 255, 1);
}

/********************** CONTACT SEC **************/



#contactSec hr{
    border: 1px solid #8b9dc3;
}


#contactBtn{
    text-decoration: none;
    font-family: inherit;
    font-size: 2em;
    border: none;
    background-color: transparent;
    color: #8b9dc3;
}


#contactSec .post .more{
    font-size: 1.3em;
    text-align: justify;
    padding-top: 10px;
    border: transparent;
    border-radius: 20px;
    margin-bottom: 20px;
}


#contactSec .post h2{
    color:#8b9dc3;
}



#contactSec input, textarea{
    border-radius: 5px;
    border: solid 1px #8b9dc3;
}

#contactSec label, button{
    color: #8b9dc3;
}

#submitBtn{
    background-color:rgba(255, 255, 255, 1);
    margin: 10px;
    border-radius: 5px;
    border: solid 1px #8b9dc3;
    font-weight: bold;
}

/*********************FOOTER SECTION******************************/
#footer{
    height: 30px;
}

.footer{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 60px;
}


.footer .socialMedia{
    margin-top: 12px;
}
.footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.2em;
}

.footer .list-group-item{
    background-color: rgba(25, 181, 254, .9);
    border-radius: 5px;
    border: rgba(255, 255, 255, 1);
}

.footer h3 a:hover{
    color: #8b9dc3;
}

.footer .list-group-item:hover{
    background-color: #8b9dc3;
}


#footerSec{
    background-color: rgba(25, 181, 254, .7);

}

#footerSec h3{
    font-size: .9em;
    font-family:calibri;
}